<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CritiqueCorner</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="nav-title">
                <h1>Critique<span>Corner</span></h1>
            </div>
            <a href="/">Home</a>
            <a href="/book">My Book</a>
            <form action="/getBook" method="post">
                <input name="bookName" placeholder="Search Book" class="inputSection">
            </form>
            <a class="btn" href="/register" role="button">Register</a>
            <a class="btn" href="/login" role="button">Login</a>

        </div>
    
</body>
</html>